<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281946284895-6n1juocseddrs8apek0ljmv430ad7h34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281946284895-6n1juocseddrs8apek0ljmv430ad7h34</string>
	<key>API_KEY</key>
	<string>AIzaSyCNZLVTwwWwii4-daXwMdu6UKfD6-upirc</string>
	<key>GCM_SENDER_ID</key>
	<string>281946284895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foundationapp</string>
	<key>PROJECT_ID</key>
	<string>foundationapp-92fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>foundationapp-92fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281946284895:ios:379978d1b0fbbb4f6c4cea</string>
</dict>
</plist>